#cabecera {
  	height: 100px;
  	background: #008B8B;
  	margin: 0;
  	padding: 0;
	float: top;
	margin-bottom: 0.8em;
	border-bottom: 0.5em solid #778899;
	border-radius: 10px;
	box-shadow: 0 0 15em #008B8B;
}

#cabecera p {
	font-size: 1.6em;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
	padding-top:1.2em; /*Mirar*/
}

#id_descripcion_entrada {
	margin-left:15em;
	width: 700px;
	height: 200px;
}

.nombre {

}

.urlblog {

}

.descripcion {

}

.fecha {

}