<!DOCTYPE html>
<html lang="es">
	<head>
		{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}index.css" title="style" />
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}index.js"></script>
		<script>
	   	//var tmpusuario = '{{ json_usuarios|escapejs }}';
	   	//var usuario = JSON.parse(tmpusuario);
	   	//var tmpentrada = '{{ json_entradas|escapejs }}';
	   	//var entrada = JSON.parse(tmpentrada);
	   	</script>
	   	<link rel="shortcut icon" href="../../../../static/imagenes/planet.png" type="image/png" />
		<title>Educational Planet</title>
		{% endblock head %}
	</head>
	<body>
		<!-- CABECERA -->
		<div id="cabecerarelativa" class="row">
			<div id="cabecera" class="col-xs-12 blog-masthead">
				<nav class="blog-nav">
					<a class="blog-nav-item" href="/planetablogs/alumnos/">Mis hilos</a>
					<a class="blog-nav-item active" href="/planetablogs/alumnos/hilo/{{ asignatura.id }}">{{ asignatura }}</a>
					<a class="blog-nav-item" href="/planetablogs/alumnos/hilo/{{ asignatura.id }}/buscar/"><span class="glyphicon glyphicon-search"></span> Buscar</a>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Puntuaciones <img class="pequeña" src="../../../../static/imagenes/planets41.png">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/planetablogs/alumnos/hilo/{{ asignatura.id }}/puntuaciones/"><span class="glyphicon glyphicon-stats"></span>  Ránking</a></li>
							<li><a href="/planetablogs/alumnos/hilo/{{ asignatura.id }}/infopuntuaciones/"><span class="glyphicon glyphicon-info-sign"></span> Información</a></li>
						</ul>
					</div>
					<div id="login" class="pull-right"><span>Iniciada sesión como <em><strong>{{ user.username }}</strong></em>  |  </span><a style="color:#A30000;" href="{% url 'logout' %}">Desconectar</a></div>
				</nav>
			</div>
		</div>
		<!-- FIN CABECERA -->
		<!-- CONTENEDOR -->
		<div class="container">
			<div class="row">
				<div id="titulolista" class="col-xs-12 col-sm-12">
					<div id="titulo" class="col-xs-12 col-sm-6 blog-header">
						<img class="pequeñologo" src="../../../../static/imagenes/planet.png">
						<h2>Educational Planet</h2>
						<p class="lead blog-description">El planeta educativo</p>
					</div>
					<div id="conjuntolista" class="col-xs-12 col-sm-5 col-sm-offset-1 blog-header">
						<div id="grupolista1" class="list-group">
							<li id="lista1" class="list-group-item"><h4 class="list-group-item-heading">Entradas más valoradas</h4>
								<div id="grupolista2" class="list-group">
								{% if lista_entradas_valoradas %}
									{% for ent in lista_entradas_valoradas %}
										<a href="#" class="list-group-item">
											<p style="font-weight:bold;font-style:oblique;" class="list-group-item-heading">{{ ent.alumno.alumno.username }} // {{ ent.titulo }}<span class="pull-right">{{ ent.fecha }}</span></p>
											<p class="list-group-item-text">Valoración: <span style="color:green;">{{ ent.totalup }} Up </span><strong>//</strong> <span style="color:red;">{{ ent.totaldown }} Down</span><span class="pull-right"><strong>Planets: </strong></span><span id="total{{ ent.id }}" src="javascript:CalcularPlanetsEntrada('{{ ent.totalup }}','{{ ent.totaldown }}')"></span></p>
										</a>
									{% endfor %}
								{% else %}
									<p id="nohayent" style="font-size:0.9em;height:125px;margin:5px;">No hay entradas en Educational Planet</br></br></br></br> ¡Anímate a escribir en tu blog! </p>
								{% endif %}
								</div>
							</li>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="entradassuscrip" class="col-xs-12 col-sm-12">
					<div id="todasentradas" class="col-xs-12 col-sm-8 blog-main">
						{% if entradas %}
							<div id="entradas">
							{% for entrada in entradas %}
								<div class="blog-post">
									<div id="entrada">
										<h2 class="blog-post-title"><label> #{{ forloop.revcounter }} </label><a target="_blank" href={{ entrada.0.usuario.url_blog }}> {{ entrada.0.alumno.alumno.first_name }} {{ entrada.0.alumno.alumno.last_name }}</a><span class="blog-post-meta">{{ entrada.0.fecha }} por <a href={{ entrada.0.usuario.url_blog }}>{{ entrada.0.alumno.alumno.username }}</a></span></h2>
										<h3><a target="_blank" href={{ entrada.0.link }}>{{ entrada.0.titulo }}</a></h3>
										<p>{{ entrada.0.descripcion }}</p>
										{% if entrada.1 == False %}
										<div id="valoracion">
											<div id="updown{{ entrada.0.id }}" class="btn-toolbar" role="toolbar">
												<div class="btn-group">
													<a href='javascript:void(0)' onclick="Up('{{ entrada.0.id }}','{{ user.id }}','{{ asignatura.id }}','{{ entrada.0.totalup }}','{{ entrada.0.totaldown }}')"><button type="button" class="btn btn-success btn-xs"><span id="up{{ entrada.0.id }}" class="badge"><span class="glyphicon glyphicon-plus-sign"></span></span></button></a>
												</div> 
												<div class="btn-group">
													<a href='javascript:void(0)' onclick="Down('{{ entrada.0.id }}','{{ user.id }}','{{ asignatura.id }}','{{ entrada.0.totaldown }}')"><button type="button" class="btn btn-danger btn-xs"><span id="down{{ entrada.0.id }}" class="badge"><span class="glyphicon glyphicon-minus-sign"></span></span></button></a>
												</div>
											</div>
										</div>
										{% else %}
										<div id="valoracion">
											<div id="updowninactive{{ entrada.0.id }}" class="btn-toolbar" role="toolbar">
												<div class="btn-group">
													<button type='button' disabled='disabled' class='btn btn-success btn-xs'>Up <span class='badge'>{{ entrada.0.totalup }}</span></button>
												</div> 
												<div class="btn-group">
													<button type='button' disabled='disabled' class='btn btn-danger btn-xs'>Down <span class='badge'>{{ entrada.0.totaldown }}</span></button>
												</div>
											</div>
										</div>
										{% endif %}
										<form role="form" method="POST">{% csrf_token %}
											<div id="escribircomentario">
												<div class="input-group">
													<span class="input-group-addon">#{{ forloop.revcounter }}</span>
													<textarea class="form-control" name="descripcion" rows="1" placeholder="Escribe tu comentario..."></textarea>
													<input class="oculto" name="entrada" value="{{ entrada.0.id }}"></input>
													<span class="input-group-btn">
														<button class="btn btn-success" type="submit">Enviar <span class="glyphicon glyphicon-send"></span></button>
													</span>
												</div>
											</div>
										</form>
										
										{% for comentario in lista_comentarios %}
											{% if entrada.0.id == comentario.entrada_id %}
											<div id="comentarios">
												<div id="comentario{{ comentario.id }}" class="panel panel-warning">
													<div id="titulopanel" class="panel-heading"><div class="panel-title">Comentario publicado por {{ comentario.alumno.alumno.username }}<span class="pull-right">{{ comentario.fecha }}</span></div></div>
													<div style="word-wrap:break-word;" class="panel-body">
														{{ comentario.descripcion }}
													{% if comentario.alumno.alumno.id == user.id %}
														<button id="{{ comentario.id }}" onclick="EliminarComentario('{{ comentario.id }}','{{ asignatura.id }}')" type="button" class="btn btn-danger btn-xs pull-right">Eliminar comentario</button>
													{% endif %}
													</div>
												</div>
												<div id="infocomentario{{ comentario.id }}" class="oculto">
													<div class="alert alert-success alert-dismissable">
														<button type="button" class="close" data-dismiss="alert">&times;</button>
														<strong>¡Comentario borrado!</strong> Vuelve a comentar cuando lo desees.
													</div>
												</div>
											</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							{% endfor %}
							</div>
						{% else %}
							<p id="nohayent">No hay entradas en Educational Planet</br> ¡Anímate a escribir en tu blog! </p>
						{% endif %}
						
						<div id="paginador" class="col-xs-12 col-sm-9 col-sm-offset-3">
							<ul class="pagination">
								<li>
									{% if entradas.has_previous %}
										{% if entradas.previous_page_number == 1 %}
											<span class="pag"><a href="/planetablogs/alumnos/hilo/{{ asignatura.id }}"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a></span>
										{% else %}
											<span class="pag"><a href="?page={{ entradas.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a></span>
										{% endif %}
									{% endif %}
								</li>
								<li>
									<span class="current">
										Página {{ entradas.number }} de {{ entradas.paginator.num_pages }}
									</span>
								</li>
								<li>
									{% if entradas.has_next %}
										<span class="pag"><a href="?page={{ entradas.next_page_number }}">Siguiente <span class="glyphicon glyphicon-chevron-right"></span></a></span>
									{% endif %}
								</li>
							</ul>
						</div> 
					</div>
					<div class="clearfix visible-xs"></div>
					<div id="suscriptores" class="col-xs-12 col-sm-4 blog-main">
						<div id="titulo_columna">Suscriptores</div></br>
						<table id="tablasuscriptores" class="table table-hover">
							<thead>
								<tr>
								<th>Nick</th>
								<th>Usuario</th>
								<th>Rss</th>
								</tr>
							</thead>
							<tbody>
								{% for usuario in lista_usuarios %}
								<tr>
									<td>{{ usuario.0.alumno.username }}</td>
									<td><a style="font-size:0.7em" target="_blank" href="{{ usuario.1 }}">{{ usuario.0.alumno.first_name }} {{ usuario.0.alumno.last_name }}</a></td>
									<td><a style="font-size:0.7em" target="_blank" href="{{ usuario.1 }}"> feed</a></td>
								</tr>
								{% empty %}
								<tr><td id="nohaysuscrip" colspan="4">No hay personas suscritas</td></tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="subir" class="btn btn-default btn-lg">
				<a href='javascript:void(0)'><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
			</div>
		</div>
		
		<!-- FIN CONTENEDOR -->
		<!-- Pie de página -->
		<div>
			<div class="blog-footer">
				<p>Soy el pie de página</p>
			</div>
		</div>
	</body>
</html>
