<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	   	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nuevousuario.css" title="style" />
	   	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	   	<script src="{{ STATIC_URL }}nuevousuario.js"></script>
	   	<script>
	   	var tmp = '{{ lista_usuarios|escapejs }}';
	   	var usuario = JSON.parse(tmp);
	   	var info = '{{ info }}';
	   	</script>
		<title>Registro</title>
	</head>

	<body>
		<!-- CABECERA -->
		<div id="cabecerarelativa" class="row">
			<div id="cabecera" class="col-xs-12 blog-masthead">
				<nav class="blog-nav">
					<a class="blog-nav-item active" href="/planetablogs/">Página principal</a>
					<a class="blog-nav-item" href="#">Identifícate</a>
					<a class="blog-nav-item" href="/planetablogs/nuevousuario/">Regístrate</a>
					<a class="blog-nav-item" href="/planetablogs/buscar/"><span class="glyphicon glyphicon-search"></span> Buscar</a>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							Puntuaciones <img class="pequeña" src="../../static/imagenes/planets41.png">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/planetablogs/puntuaciones/">Ránking</a></li>
							<li><a href="/planetablogs/infopuntuaciones/"><span class="glyphicon glyphicon-info-sign"></span> Información</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- FIN CABECERA -->
		<!-- CONTENEDOR -->
		<div class="container">
			<div class="row">
				<div id="formulario" class="col-xs-12 col-sm-12 blog-main">
					{% block contenido %}
					<form class="form-horizontal" role="form" method="POST">{% csrf_token %}
						<div class="form-group">
							<label class="col-lg-2 control-label">Nick</label>
							<div class="col-lg-10">
								<input id="nick" style="font-style:oblique;font-size:0.7em;" type="text" class="form-control" placeholder="Pon tu nick" autocomplete="off" name="nick">
								<div id="solucion"><div id="anima"></div><div id="salida" style="font-size:0.8em"></div></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Nombre</label>
							<div class="col-lg-10">
								<input id="nombre" type="text" style="font-style:oblique;font-size:0.7em;" class="form-control" name="nombre_apellidos" placeholder="Nombre y apellidos completos" autocomplete="off">
								<div id="salida"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Rss</label>
							<div class="col-lg-10">
								<input id="rss" type="url" style="font-style:oblique;font-size:0.7em;" class="form-control" name="rss" placeholder="Rss válido" autocomplete="off">
								<div id="salida"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Contraseña</label>
							<div class="col-lg-10">
								<input id="contraseña" type="password" style="font-style:oblique;font-size:0.7em;" class="form-control" name="password" placeholder="Introduce al menos 6 caracteres" autocomplete="off">
								<div id="contraseñaSalida"></div>
							</div>
						</div>
						<div id="boton"><button id="guardar" type="submit" class="btn btn-success">Guardar datos</button>
							<span id="img"><img id="imagen" src="{{ STATIC_URL }}imagenes/info.png" height="12" width="12"/><span style="font-size:0.5em">Información</span></span>
							<a href="/planetablogs/"><button id="volver" type="button" class="btn btn-primary">Volver</button></a>
						</div></br>
					</form>
					<div>
						<span id="result" class="alert alert-danger">
							<button id="buttondialog" type="button" class="close" data-dismiss="alert">&times;</button>
							<span>
									¡Información errónea! Introdúcela otra vez.
							</span>
						</span>
					</div>
					<div>
						<span id="dialog" title="Información" class="alert-info help-block">
							<button id="buttondialog" type="button" class="close" data-dismiss="alert">&times;</button>
							<span>Recuerda que todos los campos deben estar rellenos.</span></br>
							<span>El nick debe ser único.</span></br>
							<span>El RSS debe existir.</span></br>
							<span>Y la contraseña debe tener al menos 6 caracteres.</span></br>
						</span>
					</div>
					{% endblock contenido %}
				</div>
			</div>
		</div>
		<!-- FIN CONTENEDOR -->
		<!-- Pie de página -->
		<div>
			<div class="blog-footer">
				<p>Soy el pie de página</p>
			</div>
		</div>
	</body>
</html>
