<!DOCTYPE html>
<html lang="es">
	<head>
		{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}presentacionalum.css" title="style" />
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}presentacionalum.js"></script>
		<script>
			var asignaturas = '{{ asignaturas|escapejs }}';
			var info = '{{ info|escapejs }}';
			var idasignatura = '{{ idasignatura|escapejs }}';
	   	</script>
	   	<link rel="shortcut icon" href="../../static/imagenes/planet.png" type="image/png" />
		<title>Educational Planet</title>
		{% endblock head %}
	</head>
	<body>
		<!-- CONTENEDOR -->
		<div class="container">
			<!-- CABECERA -->
			<div class="row">
				<div style="background-color:#303030;" class="navegacion col-xs-12 col-sm-10 col-sm-offset-1">
					<ul class="nav nav-tabs">
						<li class="active"><a class="blog-nav-item" href="/planetablogs/alumnos/"><span class="glyphicon glyphicon-home"></span> Mis hilos</a></li>
						<div style="padding-top:10px;color:white;" id="login" class="pull-right"><span>Iniciada sesión como <em><strong>{{ user.username }}</strong></em>  |  </span><a style="color:#A30000;" href="{% url 'logout' %}">Desconectar</a></div>
					</ul>
				</div>
			</div>
			<!-- FIN CABECERA -->
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 sidebar">
					<div id="cabeceraalumno" class="row efecto">
						<div class="espacio"> Espacio de {{ user.first_name }} {{ user.last_name }} </div>
					</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="panel panel-primary">
								<div class="panel-heading">Mis hilos</div>
								<div class="panel-body">
									{% if lista_asignaturas %}
										{% for asig in lista_asignaturas %}
											<div class="list-group">
												<li id="{{ asig.id }}" class="list-group-item">
													<div style="word-wrap:break-word;">
														<h6 class="list-group-item-heading">
															<div class="row">
																<div class="col-sm-9">
																	<span><strong>Título: </strong>{{ asig.titulo }}</span></br>
																	<span><strong>Descripción: </strong>{{ asig.descripcion }}</span>
																</div>
																<div class="col-sm-3">
																	<button type="button" class="btn-xs btn-warning pull-right boton" onclick="window.open('/planetablogs/alumnos/hilo/{{ asig.id }}','_self')"><span class="glyphicon glyphicon-camera"></span> Visitar</button><button data-toggle="modal" data-target="#myModal" id="botoneliminar{{ asig.id }}" title="Eliminar hilo" type="button" class="btn-xs btn-danger pull-right boton"><span class="glyphicon glyphicon-minus"></span> Eliminar</button>
																</div>
															</div>
														</h6>
													</div>
												</li>
											</div>
											<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title" style="text-align:center;color:red;font-weight:bold">¡CUIDADO! ¡Se borrará todo!</h4>
													</div>
													<div class="modal-body">
														<p>¿Estás seguro que quieres eliminar {{ asig.titulo }}?</p>
														<span>Se perderá toda tu información dentro de este hilo:</span>
														<ul>
															<li>Tus entradas imprimidas.</li>
															<li>Los comentarios que hayas realizado en tus entradas.</li>
															<li>Valoraciones positivas y negativas.</li>
															<li>Tu puntuación obtenida hasta este momento.</li>
														</ul>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
														<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="Eliminar('{{ asig.id }}','{{ asig.titulo }}','{{ asig.descripcion }}');">Eliminar</button>
													</div>
													</div><!-- /.modal-content -->
												</div><!-- /.modal-dialog -->
											</div><!-- /.modal -->
										{% endfor %}
									{% else %}
										<p id="nohayent" style="font-size:0.9em;height:125px;margin:5px;">No tiene hilos</br></p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					
					</br>
					<div class="row">
						<div id="hilosdisponibles" class="col-sm-8 col-sm-offset-2">
							<div class="panel panel-primary">
								<div style="background-color:#555;" class="panel-heading">Hilos disponibles</div>
								<div class="panel-body">
									{% if lista_no_asignaturas %}
										{% for asig in lista_no_asignaturas %}
											<div class="list-group">
												<li id="{{ asig.id }}" class="list-group-item">
													<div style="word-wrap:break-word;">
														<h6  class="list-group-item-heading">
															<span><strong>Título: </strong>{{ asig.titulo }}</span></br>
															<span><strong>Descripción: </strong>{{ asig.descripcion }}</span>
														</h6>
													</div>
													<div class="list-group-item-text">
														<form role="form" method="POST">{% csrf_token %}
															<div class="row form-group">
																<div class="col-sm-9">
																	<input id="rss{{ asig.id }}" name="rss" type="text" class="form-control input-sm" placeholder="Introduce Rss para {{ asig.titulo }}">
																	<input class="oculto" name="asignatura" value="{{ asig.id }}"></input>
																</div>
																<div id="guardaragregar" class="col-sm-3">
																	<button id="boton{{ asig.id }}" type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar y añadir</button>
																</div>
															</div>
														</form>
													</div>
													{% if info == True %}
														{% if asig.id = idasignatura %}
															<div class="alert alert-warning alert-dismissable alert-sm">
																<button type="button" class="close" data-dismiss="alert">&times;</button>
																<strong>¡Cuidado!</strong> Es necesario introducir un RSS válido para {{ asig.titulo }}.
															</div>
														{% endif %}
													{% endif %}
												</li>
											</div>
										{% endfor %}
									{% else %}
										<p id="nohayent" style="font-size:0.9em;height:125px;margin:5px;">No hay hilos que puedas agregar</br></p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-1 columna">
				</div>
			</div>
		</div>
		<!-- FIN CONTENEDOR -->
		<!-- Pie de página -->
		<div>
			<div class="blog-footer">
				<p>Envía y comparte la página de registro para entrar a tu planeta. Consíguela en este <strong><a target="_blank" href="/planetablogs/login/">enlace</a></stron></p>
			</div>
		</div>
		
	</body>
</html>