<!DOCTYPE html>
<html lang="es">
	<head>
		{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}presentacionalum.css" title="style" />
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="{{STATIC_URL}}presentacionalum.js"></script>
		<script>
			var asignaturas = '{{ asignaturas|escapejs }}';
			var info = '{{ info|escapejs }}';
			var idasignatura = '{{ idasignatura|escapejs }}';
	   	</script>
	   	<link rel="shortcut icon" href="../../static/imagenes/planet.png" type="image/png" />
		<title>Educational Planet</title>
		{% endblock head %}
	</head>
	<body>
		<!-- CABECERA -->
		<div id="cabecerarelativa" class="row">
			<div id="cabecera" class="col-xs-12 blog-masthead">
				<nav class="blog-nav">
					<a class="blog-nav-item active" href="/planetablogs/alumnos/">Mis hilos</a>
					<a class="blog-nav-item" href="/planetablogs/buscar/"><span class="glyphicon glyphicon-search"></span> Buscar</a>
					<div id="login" class="pull-right"><span>Iniciada sesión como <em><strong>{{ user.username }}</strong></em>  |  </span><a style="color:#A30000;" href="{% url 'logout' %}">Desconectar</a></div>
				</nav>
			</div>
		</div>
		<!-- FIN CABECERA -->
		<!-- CONTENEDOR -->
		<div class="container">
			<div class="row">
				<div class="col-sm-1 columna">
					
				</div>
				<div class="col-sm-10 sidebar">
					<div id="cabeceraalumno" class="row efecto">
						<div class="espacio"> Espacio de {{ user.first_name }} {{ user.last_name }} </div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<ul class="nav nav-sidebar">
								<li class="list-group-item active"><p class="titulohilos">Mis hilos </p></li>
								<div id="lista_asignaturas" class="list-group">
									{% if lista_asignaturas %}
										{% for asig in lista_asignaturas %}
											<div style="word-wrap:break-word;" class="row" id="clase_lista_asignaturas">
												<div class="col-sm-11"><a id="eliminar{{ asig.id }}" href="/planetablogs/alumnos/hilo/{{ asig.id }}" class="list-group-item"><span style="word-wrap:break-word;">{{ asig.titulo }} - {{ asig.descripcion }}</span></a></div><div class="col-sm-1"><button style="margin-top:30%;margin-right:30%" href="/planetablogs/alumnos/" onclick="Eliminar('{{ asig.id }}','{{ asig.titulo }}','{{ asig.descripcion }}');" id="botoneliminar{{ asig.id }}" title="Eliminar hilo" type="button" class="btn-sm btn-danger pull-right"><span class="glyphicon glyphicon-minus"></span></button></div>
											</div>
											
										{% endfor %}
									{% else %}
										<p id="nohayent" style="font-size:0.9em;height:125px;margin:5px;">No tiene hilos</br></p>
									{% endif %}
								</div>
							</ul>
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="panel panel-primary">
								<div class="panel-heading">Hilos disponibles</div>
								<div class="panel-body">
									{% if lista_no_asignaturas %}
										{% for asig in lista_no_asignaturas %}
											<div class="list-group">
												<li id="{{ asig.id }}" class="list-group-item">
													<div style="word-wrap:break-word;">
														<h6  class="list-group-item-heading">{{ asig.titulo }} - {{ asig.descripcion }}</h6>
													</div>
													<div class="list-group-item-text">
														<form role="form" method="POST">{% csrf_token %}
															<div class="row form-group">
																<div class="col-sm-9">
																	<input id="rss{{ asig.id }}" name="rss" type="text" class="form-control input-sm" placeholder="Introduce Rss para {{ asig.titulo }}">
																	<input class="oculto" name="asignatura" value="{{ asig.id }}"></input>
																</div>
																<div class="col-sm-3">
																	<button id="boton{{ asig.id }}" type="submit" class="btn btn-sm btn-warning">Guardar y añadir</button>
																</div>
															</div>
														</form>
													</div>
													{% if info == True %}
														{% if asig.id = idasignatura %}
															<div class="alert alert-warning alert-dismissable alert-sm">
																<button type="button" class="close" data-dismiss="alert">&times;</button>
																<strong>¡Cuidado!</strong> Es necesario introducir un RSS válido para {{ asig.titulo }}.
															</div>
														{% endif %}
													{% endif %}
												</li>
											</div>
										{% endfor %}
									{% else %}
										<p id="nohayent" style="font-size:0.9em;height:125px;margin:5px;">No hay hilos que puedas agregar</br></p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-1 columna">
				</div>
			</div>
		<!-- FIN CONTENEDOR -->
		<!-- Pie de página 
		<div>
			<div class="blog-footer">
				<p>Soy el pie de página</p>
			</div>
		</div>
		-->
	</body>
</html>